<div class="tile is-ancestor px-3">
  <div class="tile is-4 is-vertical is-parent">
    <div class="whole-blog">
      <div class="tile is-child box">
        <h2 class="title">{{title}}</h2>
        <p>{{content}}</p>
        <p>Created by {{user.name}} on {{format_date date_created}}</p>
      </div>
      <div class="tile is-child box">
        <h2 class="title">All Comments:</h2>
        {{#each comments}}
        <p>{{comment_text}} | {{ format_date date_created}}</p>
        {{/each}}
      </div>
      <div class="tile is-child box">
        <div class="form-group">
          <label for="blog-comment">Comment Below:</label> <br>
          <textarea class="form-input" id="blog-comment" name="blog-content"></textarea> <br>
          <button class="btn btn-primary">Post Comment</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/comment.js"></script>