<div class="">
  <div class="">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="">
  <div class="">
    <h3>Create a New Blog:</h3>

    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-title">Blog Title:</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title" />
      </div>
      <div class="form-group">
        <label for="blog-content">Content:</label>
        <textarea class="form-input" id="blog-content" name="blog-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="">Post</button>
      </div>
    </form>
  </div>


  {{#if blogs.length}}
  <div class="blog-list">
    <h3>Your Blogs:</h3>

    {{#each blogs as |blog|}}
    <div class="">
      <div class="">
        <p><a href="/blogs/{{blog.id}}">{{blog.title}}</a></p>
        <p>{{blog.content}}</p>
        <p>Posted on {{format_date blog.date_created}}</p>
      </div>
      <div class="">
        <button class="" data-id="{{blog.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>